.category-box{
    padding-top:5%;
    // padding-bottom: 6%;
    li {
        list-style-type: none;
        display : inline-block;
        padding: 4px 8px!important;
        margin : 0px 1% 1% 0px;
        background-color: #e6e6e6;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-decoration: none;
        font-size:0.9rem;
    }
    li a {
        color:rgba(54,58,60,0.7);
    }
    li:hover{
        background-color: $theme-color;
    }
    li:hover a{
        color:#fff;
    }
    .category-num{
        vertical-align: super;
        font-size: 0.625rem;
    }
}
.category-list{
    padding : 2% 0px;
    //border-top: 1px solid rgba(0,0,0,0.1);

    .category-list-title{
        color : $text-color;
    }
}
.category-post{
    .post-list-title a{
        color : rgba(54,58,60,0.7);
        font-size: 1.15rem;
        font-weight: 600;
    }
    .post-list-title a:hover{
        color:$theme-color;
    }
    .post-list-meta{
        color: rgba(54,58,60,0.4);
        font-size: 0.8em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}