.post-content > :last-child {
  margin-bottom: 0;
}
article,
.comments {
  @extend %padding-post;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}
article {
  .subtitle {
    font-size:1.2rem;
    font-weight: normal;
    margin: 0;
  }
  header {
    margin-bottom: 6%;
    padding: 10% 0 6%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  a {
    @extend .body-link;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    margin: 0;
  }
}
.meta {
  color: rgba($text-color, .4);
  font-size: 0.8em;
   letter-spacing: 0.03em;
  margin-top: 3%;
  text-transform: uppercase;
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

.post-content{
  h1,h2,h3,h4,h5,h6{
    margin-bottom: 2%;
  }
  ul{
    li{
      padding: 0% 0% 1% 2%;
    }
  }
}