<div id="projects">
    <h1 class="title">Projects 🙋🏻</h1>
    <div class="project-wrap">
        {% assign id = -1 %}
        {% for _ in site.data.projects %}
        {% assign project = _.project %}
        {% assign id = id | plus: 1 %}
        <div class="prj-wrapper">
            <div class="project row">
                {% if project.image %}
                <div class="img-wrap col-4 col-lg-12">
                    <img src="{{ site.url }}/assets/project/{{ project.image }}" alt="">
                </div>
                {% endif %}
                <div class="text-wrap col-12">
                    <div class="meta">
                        <div class="date">{{ project.date }}</div>
                    </div> 
                    <div class="title">{{ project.title }}</div>
                    <div class="summary">{{ project.summary }}</div>
                    {% if project.url or project.modal %}
                    <div class="git-btn">
                        {% if project.url %}
                        {% assign url = project.url %}
                        <a href="{{ url }}/subscription"><i class="far fa-eye"></i></a>
                        <a href="{{ url }}"><i class="fas fa-star"></i></a>
                        <a href="{{ url }}/fork"><i class="fas fa-code-branch"></i></a>
                        {% endif %}
                        {% if project.modal %}
                        <a href="#{{ id }}" rel="modal:open" class="modal-btn"><i class="fas fa-plus"></i></a>
                        <!-- Modal Box -->
                        {% include modal.html %}
                        <!-- Modal Box -->
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>