#portfolio{
    height: 100%;
    @extend %page-padding;
    .bg{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 105px;
        left:0%;
        height: 95px;
        background-color: $theme-dark;
    }
    h1.title{
        color:#fff;
    }
    .profile{
        margin-top:90px;
        margin-bottom: 30px;
        text-align: left;
        @media (max-width:767px) {
            text-align: center;
        }
        .img-wrap{
            margin-bottom: 15px;
            text-align: center;
            .img{
                position: relative;
                overflow: hidden;
                display: inline-block;
                width: 180px;
                height: 180px;
                border-radius: 15px;
                background-color: #ddd;
                img{
                    width:100%;
                }
            }
        }
        .text-wrap{
            padding-bottom: 25px;
            .description{
                margin: 10px 0;
                font-size: 0.9rem;
            }
        }
    }
    #icons i{
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
        line-height: 35px;
    }
}

#skills{
    @extend %page-padding;
    margin-bottom: 90px;
    .title{
        margin-bottom: 30px;
    }
    .skill{
        margin-bottom:35px;
        .skill-name{
            margin-bottom: 5px;
            font-size: 0.8rem;
            font-weight: 600;
            letter-spacing: -0.03rem;
        }
        .skill-per{
            display: block;
        }
        .skill-per div{
            display:inline-block;
            float: left;
            height: 15px;
        }
        .skill-f{
            background-color: $theme-color;
        }
        .skill-b{
            background-color: rgba(0,0,0,0.07);
        }
    }

}